--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: divino_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO divino_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: atividade; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.atividade (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    atividade character varying(255) NOT NULL,
    ordem integer NOT NULL,
    condicao integer NOT NULL,
    start timestamp without time zone,
    color character varying(10),
    "end" timestamp without time zone,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.atividade OWNER TO divino_user;

--
-- Name: atividade_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.atividade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.atividade_id_seq OWNER TO divino_user;

--
-- Name: atividade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.atividade_id_seq OWNED BY public.atividade.id;


--
-- Name: categorias; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.categorias (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    imagem character varying(255),
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.categorias OWNER TO divino_user;

--
-- Name: categorias_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.categorias_financeiras (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(20) NOT NULL,
    descricao text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer,
    CONSTRAINT categorias_financeiras_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['receita'::character varying, 'despesa'::character varying])::text[])))
);


ALTER TABLE public.categorias_financeiras OWNER TO divino_user;

--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.categorias_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorias_financeiras_id_seq OWNER TO divino_user;

--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.categorias_financeiras_id_seq OWNED BY public.categorias_financeiras.id;


--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.categorias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorias_id_seq OWNER TO divino_user;

--
-- Name: categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.categorias_id_seq OWNED BY public.categorias.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    endereco character varying(255) NOT NULL,
    bairro character varying(100),
    cidade character varying(100),
    estado character varying(50),
    complemento character varying(100),
    cep character varying(20),
    ponto_referencia character varying(100),
    tel1 character varying(20),
    tel2 character varying(20),
    email character varying(100),
    cpf_cnpj character varying(30),
    rg character varying(30),
    condominio character varying(100),
    bloco character varying(50),
    apartamento character varying(50),
    local_entrega character varying(100),
    observacoes character varying(255),
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.clientes OWNER TO divino_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_seq OWNER TO divino_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: contas_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.contas_financeiras (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(20) NOT NULL,
    saldo_inicial numeric(10,2) DEFAULT 0.00 NOT NULL,
    saldo_atual numeric(10,2) DEFAULT 0.00 NOT NULL,
    banco character varying(100),
    agencia character varying(20),
    conta character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer,
    CONSTRAINT contas_financeiras_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['conta_corrente'::character varying, 'poupanca'::character varying, 'carteira'::character varying, 'outros'::character varying])::text[])))
);


ALTER TABLE public.contas_financeiras OWNER TO divino_user;

--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.contas_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contas_financeiras_id_seq OWNER TO divino_user;

--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.contas_financeiras_id_seq OWNED BY public.contas_financeiras.id;


--
-- Name: cor; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.cor (
    id integer NOT NULL,
    cor character varying(255) NOT NULL,
    tenant_id integer NOT NULL
);


ALTER TABLE public.cor OWNER TO divino_user;

--
-- Name: despesas; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.despesas (
    id integer NOT NULL,
    valor character varying(255) NOT NULL,
    despesa character varying(255) NOT NULL,
    data character varying(100) NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.despesas OWNER TO divino_user;

--
-- Name: despesas_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.despesas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.despesas_id_seq OWNER TO divino_user;

--
-- Name: despesas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.despesas_id_seq OWNED BY public.despesas.id;


--
-- Name: entregadores; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.entregadores (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    telefone character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'Ativo'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer,
    CONSTRAINT entregadores_status_check CHECK (((status)::text = ANY ((ARRAY['Ativo'::character varying, 'Inativo'::character varying, 'Em Entrega'::character varying])::text[])))
);


ALTER TABLE public.entregadores OWNER TO divino_user;

--
-- Name: entregadores_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.entregadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entregadores_id_seq OWNER TO divino_user;

--
-- Name: entregadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.entregadores_id_seq OWNED BY public.entregadores.id;


--
-- Name: estoque; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.estoque (
    id integer NOT NULL,
    produto_id integer NOT NULL,
    estoque_atual numeric(10,2) DEFAULT 0.00,
    estoque_minimo numeric(10,2) DEFAULT 0.00,
    preco_custo numeric(10,2),
    marca character varying(100),
    fornecedor character varying(100),
    data_compra date,
    data_validade date,
    unidade character varying(10),
    observacoes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.estoque OWNER TO divino_user;

--
-- Name: estoque_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.estoque_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estoque_id_seq OWNER TO divino_user;

--
-- Name: estoque_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.estoque_id_seq OWNED BY public.estoque.id;


--
-- Name: filiais; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.filiais (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    nome character varying(255) NOT NULL,
    endereco text,
    telefone character varying(20),
    email character varying(255),
    cnpj character varying(18),
    logo_url character varying(500),
    status character varying(20) DEFAULT 'ativo'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT filiais_status_check CHECK (((status)::text = ANY ((ARRAY['ativo'::character varying, 'inativo'::character varying])::text[])))
);


ALTER TABLE public.filiais OWNER TO divino_user;

--
-- Name: filiais_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.filiais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.filiais_id_seq OWNER TO divino_user;

--
-- Name: filiais_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.filiais_id_seq OWNED BY public.filiais.id;


--
-- Name: imagens_movimentacoes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.imagens_movimentacoes (
    id integer NOT NULL,
    movimentacao_id integer NOT NULL,
    caminho character varying(255) NOT NULL
);


ALTER TABLE public.imagens_movimentacoes OWNER TO divino_user;

--
-- Name: imagens_movimentacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.imagens_movimentacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.imagens_movimentacoes_id_seq OWNER TO divino_user;

--
-- Name: imagens_movimentacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.imagens_movimentacoes_id_seq OWNED BY public.imagens_movimentacoes.id;


--
-- Name: ingredientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.ingredientes (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    tipo character varying(20) NOT NULL,
    preco_adicional numeric(10,2) DEFAULT 0.00,
    disponivel boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer,
    CONSTRAINT ingredientes_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['pao'::character varying, 'proteina'::character varying, 'queijo'::character varying, 'salada'::character varying, 'molho'::character varying, 'complemento'::character varying])::text[])))
);


ALTER TABLE public.ingredientes OWNER TO divino_user;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ingredientes_id_seq OWNER TO divino_user;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.ingredientes_id_seq OWNED BY public.ingredientes.id;


--
-- Name: log_pedidos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.log_pedidos (
    id integer NOT NULL,
    idpedido integer NOT NULL,
    status_anterior character varying(50),
    novo_status character varying(50),
    usuario character varying(100),
    data_alteracao timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    tenant_id integer NOT NULL
);


ALTER TABLE public.log_pedidos OWNER TO divino_user;

--
-- Name: log_pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.log_pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_pedidos_id_seq OWNER TO divino_user;

--
-- Name: log_pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.log_pedidos_id_seq OWNED BY public.log_pedidos.id;


--
-- Name: mesas; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.mesas (
    id integer NOT NULL,
    id_mesa character varying(255) NOT NULL,
    nome character varying(255),
    status character varying(255) DEFAULT '1'::character varying NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.mesas OWNER TO divino_user;

--
-- Name: mesas_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.mesas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mesas_id_seq OWNER TO divino_user;

--
-- Name: mesas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.mesas_id_seq OWNED BY public.mesas.id;


--
-- Name: movimentacoes_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.movimentacoes_financeiras (
    id integer NOT NULL,
    pedido_id integer,
    tipo character varying(20) NOT NULL,
    categoria_id integer NOT NULL,
    conta_id integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_movimentacao date NOT NULL,
    data_vencimento date,
    descricao text,
    status character varying(20) DEFAULT 'pendente'::character varying NOT NULL,
    forma_pagamento character varying(20),
    comprovante character varying(255),
    observacoes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer,
    CONSTRAINT movimentacoes_financeiras_status_check CHECK (((status)::text = ANY ((ARRAY['pendente'::character varying, 'pago'::character varying, 'cancelado'::character varying])::text[]))),
    CONSTRAINT movimentacoes_financeiras_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['receita'::character varying, 'despesa'::character varying])::text[])))
);


ALTER TABLE public.movimentacoes_financeiras OWNER TO divino_user;

--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.movimentacoes_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.movimentacoes_financeiras_id_seq OWNER TO divino_user;

--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.movimentacoes_financeiras_id_seq OWNED BY public.movimentacoes_financeiras.id;


--
-- Name: parcelas_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.parcelas_financeiras (
    id integer NOT NULL,
    movimentacao_id integer NOT NULL,
    numero_parcela integer NOT NULL,
    total_parcelas integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_vencimento date NOT NULL,
    status character varying(20) DEFAULT 'pendente'::character varying NOT NULL,
    data_pagamento date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT parcelas_financeiras_status_check CHECK (((status)::text = ANY ((ARRAY['pendente'::character varying, 'pago'::character varying, 'cancelado'::character varying])::text[])))
);


ALTER TABLE public.parcelas_financeiras OWNER TO divino_user;

--
-- Name: parcelas_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.parcelas_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.parcelas_financeiras_id_seq OWNER TO divino_user;

--
-- Name: parcelas_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.parcelas_financeiras_id_seq OWNED BY public.parcelas_financeiras.id;


--
-- Name: pedido; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedido (
    idpedido integer NOT NULL,
    idmesa integer,
    cliente character varying(255),
    delivery boolean DEFAULT false,
    endereco_entrega text,
    ponto_referencia character varying(255),
    telefone_cliente character varying(20),
    data date NOT NULL,
    hora_pedido time without time zone NOT NULL,
    hora_saida_entrega time without time zone,
    hora_entrega time without time zone,
    status character varying(50) DEFAULT 'Pendente'::character varying NOT NULL,
    valor_total numeric(10,2) DEFAULT 0.00,
    taxa_entrega numeric(10,2) DEFAULT 0.00,
    forma_pagamento character varying(50),
    troco_para numeric(10,2),
    entregador_id integer,
    observacao text,
    usuario_id integer,
    tipo character varying(20) DEFAULT 'mesa'::character varying,
    cliente_id integer,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pedido OWNER TO divino_user;

--
-- Name: pedido_idpedido_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedido_idpedido_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedido_idpedido_seq OWNER TO divino_user;

--
-- Name: pedido_idpedido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedido_idpedido_seq OWNED BY public.pedido.idpedido;


--
-- Name: pedido_item_ingredientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedido_item_ingredientes (
    id integer NOT NULL,
    pedido_item_id integer NOT NULL,
    ingrediente_id integer NOT NULL,
    incluido boolean DEFAULT true NOT NULL
);


ALTER TABLE public.pedido_item_ingredientes OWNER TO divino_user;

--
-- Name: pedido_item_ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedido_item_ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedido_item_ingredientes_id_seq OWNER TO divino_user;

--
-- Name: pedido_item_ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedido_item_ingredientes_id_seq OWNED BY public.pedido_item_ingredientes.id;


--
-- Name: pedido_itens; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedido_itens (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    produto_id integer NOT NULL,
    quantidade integer NOT NULL,
    valor_unitario numeric(10,2) NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    observacao text,
    ingredientes_sem text,
    ingredientes_com text,
    tamanho character varying(10) DEFAULT 'normal'::character varying NOT NULL,
    tenant_id integer NOT NULL
);


ALTER TABLE public.pedido_itens OWNER TO divino_user;

--
-- Name: pedido_itens_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedido_itens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedido_itens_id_seq OWNER TO divino_user;

--
-- Name: pedido_itens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedido_itens_id_seq OWNED BY public.pedido_itens.id;


--
-- Name: perfil_estabelecimento; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.perfil_estabelecimento (
    id integer NOT NULL,
    nome_estabelecimento character varying(120) NOT NULL,
    cnpj character varying(24),
    endereco character varying(255),
    telefone character varying(32),
    site character varying(120),
    mensagem_header character varying(255),
    logo character varying(255),
    criado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.perfil_estabelecimento OWNER TO divino_user;

--
-- Name: perfil_estabelecimento_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.perfil_estabelecimento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.perfil_estabelecimento_id_seq OWNER TO divino_user;

--
-- Name: perfil_estabelecimento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.perfil_estabelecimento_id_seq OWNED BY public.perfil_estabelecimento.id;


--
-- Name: planos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.planos (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    max_mesas integer DEFAULT 10,
    max_usuarios integer DEFAULT 3,
    max_produtos integer DEFAULT 100,
    max_pedidos_mes integer DEFAULT 1000,
    recursos jsonb,
    preco_mensal numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.planos OWNER TO divino_user;

--
-- Name: planos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.planos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.planos_id_seq OWNER TO divino_user;

--
-- Name: planos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.planos_id_seq OWNED BY public.planos.id;


--
-- Name: produto_ingredientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.produto_ingredientes (
    produto_id integer NOT NULL,
    ingrediente_id integer NOT NULL,
    padrao boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.produto_ingredientes OWNER TO divino_user;

--
-- Name: produtos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.produtos (
    id integer NOT NULL,
    codigo character varying(255),
    categoria_id integer NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    preco_normal numeric(10,2) NOT NULL,
    preco_mini numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    imagem character varying(255),
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.produtos OWNER TO divino_user;

--
-- Name: produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.produtos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.produtos_id_seq OWNER TO divino_user;

--
-- Name: produtos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.produtos_id_seq OWNED BY public.produtos.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    subdomain character varying(100),
    domain character varying(255),
    cnpj character varying(18),
    telefone character varying(20),
    email character varying(255),
    endereco text,
    logo_url character varying(500),
    cor_primaria character varying(7) DEFAULT '#007bff'::character varying,
    status character varying(20) DEFAULT 'ativo'::character varying,
    plano_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tenants_status_check CHECK (((status)::text = ANY ((ARRAY['ativo'::character varying, 'inativo'::character varying, 'suspenso'::character varying])::text[])))
);


ALTER TABLE public.tenants OWNER TO divino_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenants_id_seq OWNER TO divino_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    login character varying(255) NOT NULL,
    senha character varying(255) NOT NULL,
    nivel integer DEFAULT 1 NOT NULL,
    pergunta character varying(255) NOT NULL,
    resposta character varying(255) NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO divino_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO divino_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vendas; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.vendas (
    id integer NOT NULL,
    valor character varying(255) NOT NULL,
    cliente character varying(255) NOT NULL,
    rendimento character varying(255) NOT NULL,
    data character varying(255) NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.vendas OWNER TO divino_user;

--
-- Name: vendas_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.vendas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vendas_id_seq OWNER TO divino_user;

--
-- Name: vendas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.vendas_id_seq OWNED BY public.vendas.id;


--
-- Name: atividade id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade ALTER COLUMN id SET DEFAULT nextval('public.atividade_id_seq'::regclass);


--
-- Name: categorias id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias ALTER COLUMN id SET DEFAULT nextval('public.categorias_id_seq'::regclass);


--
-- Name: categorias_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras ALTER COLUMN id SET DEFAULT nextval('public.categorias_financeiras_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: contas_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras ALTER COLUMN id SET DEFAULT nextval('public.contas_financeiras_id_seq'::regclass);


--
-- Name: despesas id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.despesas ALTER COLUMN id SET DEFAULT nextval('public.despesas_id_seq'::regclass);


--
-- Name: entregadores id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores ALTER COLUMN id SET DEFAULT nextval('public.entregadores_id_seq'::regclass);


--
-- Name: estoque id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque ALTER COLUMN id SET DEFAULT nextval('public.estoque_id_seq'::regclass);


--
-- Name: filiais id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais ALTER COLUMN id SET DEFAULT nextval('public.filiais_id_seq'::regclass);


--
-- Name: imagens_movimentacoes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.imagens_movimentacoes ALTER COLUMN id SET DEFAULT nextval('public.imagens_movimentacoes_id_seq'::regclass);


--
-- Name: ingredientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes ALTER COLUMN id SET DEFAULT nextval('public.ingredientes_id_seq'::regclass);


--
-- Name: log_pedidos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos ALTER COLUMN id SET DEFAULT nextval('public.log_pedidos_id_seq'::regclass);


--
-- Name: mesas id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas ALTER COLUMN id SET DEFAULT nextval('public.mesas_id_seq'::regclass);


--
-- Name: movimentacoes_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras ALTER COLUMN id SET DEFAULT nextval('public.movimentacoes_financeiras_id_seq'::regclass);


--
-- Name: parcelas_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.parcelas_financeiras ALTER COLUMN id SET DEFAULT nextval('public.parcelas_financeiras_id_seq'::regclass);


--
-- Name: pedido idpedido; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido ALTER COLUMN idpedido SET DEFAULT nextval('public.pedido_idpedido_seq'::regclass);


--
-- Name: pedido_item_ingredientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_item_ingredientes ALTER COLUMN id SET DEFAULT nextval('public.pedido_item_ingredientes_id_seq'::regclass);


--
-- Name: pedido_itens id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens ALTER COLUMN id SET DEFAULT nextval('public.pedido_itens_id_seq'::regclass);


--
-- Name: perfil_estabelecimento id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.perfil_estabelecimento ALTER COLUMN id SET DEFAULT nextval('public.perfil_estabelecimento_id_seq'::regclass);


--
-- Name: planos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.planos ALTER COLUMN id SET DEFAULT nextval('public.planos_id_seq'::regclass);


--
-- Name: produtos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos ALTER COLUMN id SET DEFAULT nextval('public.produtos_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: vendas id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.vendas ALTER COLUMN id SET DEFAULT nextval('public.vendas_id_seq'::regclass);


--
-- Data for Name: atividade; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.atividade (id, title, atividade, ordem, condicao, start, color, "end", tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: categorias; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.categorias (id, nome, created_at, imagem, tenant_id, filial_id) FROM stdin;
1	XIS	2025-09-22 14:50:40.651245	\N	1	1
2	Cachorro-Quente	2025-09-22 14:50:40.651245	\N	1	1
3	Bauru	2025-09-22 14:50:40.651245	\N	1	1
4	PF e A La Minuta	2025-09-22 14:50:40.651245	\N	1	1
5	Torrada	2025-09-22 14:50:40.651245	\N	1	1
6	Rod├¡zio	2025-09-22 14:50:40.651245	\N	1	1
7	Por├º├Áes	2025-09-22 14:50:40.651245	\N	1	1
8	Bebidas	2025-09-22 14:50:40.651245	\N	1	1
9	Bebidas Alco├│licas	2025-09-22 14:50:40.651245	\N	1	1
10	Combo	2025-09-22 14:50:40.651245	\N	1	1
\.


--
-- Data for Name: categorias_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.clientes (id, nome, endereco, bairro, cidade, estado, complemento, cep, ponto_referencia, tel1, tel2, email, cpf_cnpj, rg, condominio, bloco, apartamento, local_entrega, observacoes, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: contas_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.contas_financeiras (id, nome, tipo, saldo_inicial, saldo_atual, banco, agencia, conta, created_at, updated_at, tenant_id, filial_id) FROM stdin;
1	Caixa	carteira	0.00	0.00	\N	\N	\N	2025-09-22 14:50:40.714281	2025-09-22 14:50:40.714281	1	1
\.


--
-- Data for Name: cor; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.cor (id, cor, tenant_id) FROM stdin;
1	info	1
\.


--
-- Data for Name: despesas; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.despesas (id, valor, despesa, data, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: entregadores; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.entregadores (id, nome, telefone, status, created_at, updated_at, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: estoque; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: filiais; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.filiais (id, tenant_id, nome, endereco, telefone, email, cnpj, logo_url, status, created_at) FROM stdin;
1	1	Matriz	Rua das Flores, 123	(11) 99999-9999	contato@divinolanches.com	12345678000199	\N	ativo	2025-09-22 14:50:40.635936
\.


--
-- Data for Name: imagens_movimentacoes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.imagens_movimentacoes (id, movimentacao_id, caminho) FROM stdin;
\.


--
-- Data for Name: ingredientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: log_pedidos; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.log_pedidos (id, idpedido, status_anterior, novo_status, usuario, data_alteracao, tenant_id) FROM stdin;
\.


--
-- Data for Name: mesas; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.mesas (id, id_mesa, nome, status, tenant_id, filial_id) FROM stdin;
1	1		1	1	1
2	2		1	1	1
3	3		1	1	1
4	4		1	1	1
5	5		1	1	1
6	6		1	1	1
7	7		1	1	1
8	8		1	1	1
9	9		1	1	1
10	10		1	1	1
11	11		1	1	1
12	12		1	1	1
13	13		1	1	1
14	14		1	1	1
15	15		1	1	1
16	16		1	1	1
17	17		1	1	1
18	18		1	1	1
19	19		1	1	1
20	20		1	1	1
21	21	\N	1	1	1
22	22	\N	1	1	1
23	23	\N	1	1	1
24	24	\N	1	1	1
25	25	\N	1	1	1
\.


--
-- Data for Name: movimentacoes_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.movimentacoes_financeiras (id, pedido_id, tipo, categoria_id, conta_id, valor, data_movimentacao, data_vencimento, descricao, status, forma_pagamento, comprovante, observacoes, created_at, updated_at, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: parcelas_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.parcelas_financeiras (id, movimentacao_id, numero_parcela, total_parcelas, valor, data_vencimento, status, data_pagamento, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedido (idpedido, idmesa, cliente, delivery, endereco_entrega, ponto_referencia, telefone_cliente, data, hora_pedido, hora_saida_entrega, hora_entrega, status, valor_total, taxa_entrega, forma_pagamento, troco_para, entregador_id, observacao, usuario_id, tipo, cliente_id, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pedido_item_ingredientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedido_item_ingredientes (id, pedido_item_id, ingrediente_id, incluido) FROM stdin;
\.


--
-- Data for Name: pedido_itens; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedido_itens (id, pedido_id, produto_id, quantidade, valor_unitario, valor_total, observacao, ingredientes_sem, ingredientes_com, tamanho, tenant_id) FROM stdin;
\.


--
-- Data for Name: perfil_estabelecimento; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.perfil_estabelecimento (id, nome_estabelecimento, cnpj, endereco, telefone, site, mensagem_header, logo, criado_em, atualizado_em, tenant_id, filial_id) FROM stdin;
1	Divino Lanches	12345678000199	Rua das Flores, 123	(11) 99999-9999	www.divinolanches.com	Bem-vindo ao Divino Lanches!	\N	2025-09-22 14:50:40.717177	2025-09-22 14:50:40.717177	1	1
\.


--
-- Data for Name: planos; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: produto_ingredientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: produtos; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.tenants (id, nome, subdomain, domain, cnpj, telefone, email, endereco, logo_url, cor_primaria, status, plano_id, created_at, updated_at) FROM stdin;
1	Divino Lanches	divino	divinolanches.com	12345678000199	(11) 99999-9999	contato@divinolanches.com	Rua das Flores, 123	\N	#28a745	ativo	2	2025-09-22 14:50:40.621365	2025-09-22 14:50:40.621365
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.usuarios (id, login, senha, nivel, pergunta, resposta, tenant_id, filial_id, created_at, updated_at) FROM stdin;
1	admin	$2y$10$bOYm96HqCJ4p7lcazLBpuO0JllFT6UE8PIC/N2qbHgIzenqKqB2WK	1	admin	admin	1	1	2025-09-22 14:50:40.646059	2025-09-22 14:50:40.646059
\.


--
-- Data for Name: vendas; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.vendas (id, valor, cliente, rendimento, data, tenant_id, filial_id) FROM stdin;
\.


--
-- Name: atividade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.atividade_id_seq', 1, false);


--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.categorias_financeiras_id_seq', 9, true);


--
-- Name: categorias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.categorias_id_seq', 10, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.clientes_id_seq', 1, false);


--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.contas_financeiras_id_seq', 1, true);


--
-- Name: despesas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.despesas_id_seq', 1, false);


--
-- Name: entregadores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.entregadores_id_seq', 1, false);


--
-- Name: estoque_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.estoque_id_seq', 10, true);


--
-- Name: filiais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.filiais_id_seq', 1, true);


--
-- Name: imagens_movimentacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.imagens_movimentacoes_id_seq', 1, false);


--
-- Name: ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.ingredientes_id_seq', 37, true);


--
-- Name: log_pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.log_pedidos_id_seq', 1, false);


--
-- Name: mesas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.mesas_id_seq', 25, true);


--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.movimentacoes_financeiras_id_seq', 1, false);


--
-- Name: parcelas_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.parcelas_financeiras_id_seq', 1, false);


--
-- Name: pedido_idpedido_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedido_idpedido_seq', 1, false);


--
-- Name: pedido_item_ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedido_item_ingredientes_id_seq', 1, false);


--
-- Name: pedido_itens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedido_itens_id_seq', 1, false);


--
-- Name: perfil_estabelecimento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.perfil_estabelecimento_id_seq', 1, true);


--
-- Name: planos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.planos_id_seq', 3, true);


--
-- Name: produtos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.produtos_id_seq', 10, true);


--
-- Name: tenants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.tenants_id_seq', 1, false);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: vendas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.vendas_id_seq', 1, false);


--
-- Name: atividade atividade_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_pkey PRIMARY KEY (id);


--
-- Name: categorias_financeiras categorias_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_pkey PRIMARY KEY (id);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: contas_financeiras contas_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_pkey PRIMARY KEY (id);


--
-- Name: despesas despesas_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_pkey PRIMARY KEY (id);


--
-- Name: entregadores entregadores_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_pkey PRIMARY KEY (id);


--
-- Name: estoque estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_pkey PRIMARY KEY (id);


--
-- Name: filiais filiais_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais
    ADD CONSTRAINT filiais_pkey PRIMARY KEY (id);


--
-- Name: imagens_movimentacoes imagens_movimentacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.imagens_movimentacoes
    ADD CONSTRAINT imagens_movimentacoes_pkey PRIMARY KEY (id);


--
-- Name: ingredientes ingredientes_nome_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_nome_tenant_id_key UNIQUE (nome, tenant_id);


--
-- Name: ingredientes ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_pkey PRIMARY KEY (id);


--
-- Name: log_pedidos log_pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos
    ADD CONSTRAINT log_pedidos_pkey PRIMARY KEY (id);


--
-- Name: mesas mesas_id_mesa_tenant_id_filial_id_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_id_mesa_tenant_id_filial_id_key UNIQUE (id_mesa, tenant_id, filial_id);


--
-- Name: mesas mesas_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_pkey PRIMARY KEY (id);


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_pkey PRIMARY KEY (id);


--
-- Name: parcelas_financeiras parcelas_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.parcelas_financeiras
    ADD CONSTRAINT parcelas_financeiras_pkey PRIMARY KEY (id);


--
-- Name: pedido_item_ingredientes pedido_item_ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_item_ingredientes
    ADD CONSTRAINT pedido_item_ingredientes_pkey PRIMARY KEY (id);


--
-- Name: pedido_itens pedido_itens_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_pkey PRIMARY KEY (id);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (idpedido);


--
-- Name: perfil_estabelecimento perfil_estabelecimento_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.perfil_estabelecimento
    ADD CONSTRAINT perfil_estabelecimento_pkey PRIMARY KEY (id);


--
-- Name: planos planos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.planos
    ADD CONSTRAINT planos_pkey PRIMARY KEY (id);


--
-- Name: produto_ingredientes produto_ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_pkey PRIMARY KEY (produto_id, ingrediente_id);


--
-- Name: produtos produtos_codigo_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_codigo_tenant_id_key UNIQUE (codigo, tenant_id);


--
-- Name: produtos produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_subdomain_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_subdomain_key UNIQUE (subdomain);


--
-- Name: usuarios usuarios_login_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_login_tenant_id_key UNIQUE (login, tenant_id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: vendas vendas_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT vendas_pkey PRIMARY KEY (id);


--
-- Name: idx_estoque_atual; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_estoque_atual ON public.estoque USING btree (estoque_atual);


--
-- Name: idx_estoque_produto; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_estoque_produto ON public.estoque USING btree (produto_id);


--
-- Name: idx_estoque_validade; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_estoque_validade ON public.estoque USING btree (data_validade);


--
-- Name: idx_mesas_filial; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_mesas_filial ON public.mesas USING btree (filial_id);


--
-- Name: idx_mesas_tenant; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_mesas_tenant ON public.mesas USING btree (tenant_id);


--
-- Name: idx_pedido_data; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_pedido_data ON public.pedido USING btree (data);


--
-- Name: idx_pedido_filial; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_pedido_filial ON public.pedido USING btree (filial_id);


--
-- Name: idx_pedido_status; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_pedido_status ON public.pedido USING btree (status);


--
-- Name: idx_pedido_tenant; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_pedido_tenant ON public.pedido USING btree (tenant_id);


--
-- Name: idx_produtos_filial; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_produtos_filial ON public.produtos USING btree (filial_id);


--
-- Name: idx_produtos_tenant; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_produtos_tenant ON public.produtos USING btree (tenant_id);


--
-- Name: idx_usuarios_filial; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_usuarios_filial ON public.usuarios USING btree (filial_id);


--
-- Name: idx_usuarios_tenant; Type: INDEX; Schema: public; Owner: divino_user
--

CREATE INDEX idx_usuarios_tenant ON public.usuarios USING btree (tenant_id);


--
-- Name: categorias_financeiras update_categorias_financeiras_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_categorias_financeiras_updated_at BEFORE UPDATE ON public.categorias_financeiras FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: contas_financeiras update_contas_financeiras_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_contas_financeiras_updated_at BEFORE UPDATE ON public.contas_financeiras FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: entregadores update_entregadores_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_entregadores_updated_at BEFORE UPDATE ON public.entregadores FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: estoque update_estoque_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_estoque_updated_at BEFORE UPDATE ON public.estoque FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: movimentacoes_financeiras update_movimentacoes_financeiras_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_movimentacoes_financeiras_updated_at BEFORE UPDATE ON public.movimentacoes_financeiras FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: parcelas_financeiras update_parcelas_financeiras_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_parcelas_financeiras_updated_at BEFORE UPDATE ON public.parcelas_financeiras FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: pedido update_pedido_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_pedido_updated_at BEFORE UPDATE ON public.pedido FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tenants update_tenants_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_tenants_updated_at BEFORE UPDATE ON public.tenants FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: usuarios update_usuarios_updated_at; Type: TRIGGER; Schema: public; Owner: divino_user
--

CREATE TRIGGER update_usuarios_updated_at BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: atividade atividade_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: atividade atividade_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: categorias categorias_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: categorias_financeiras categorias_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: categorias_financeiras categorias_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: categorias categorias_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: clientes clientes_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: clientes clientes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: contas_financeiras contas_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: contas_financeiras contas_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: cor cor_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.cor
    ADD CONSTRAINT cor_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: despesas despesas_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: despesas despesas_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.despesas
    ADD CONSTRAINT despesas_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: entregadores entregadores_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: entregadores entregadores_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: estoque estoque_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: estoque estoque_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id) ON DELETE CASCADE;


--
-- Name: estoque estoque_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: filiais filiais_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais
    ADD CONSTRAINT filiais_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: imagens_movimentacoes imagens_movimentacoes_movimentacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.imagens_movimentacoes
    ADD CONSTRAINT imagens_movimentacoes_movimentacao_id_fkey FOREIGN KEY (movimentacao_id) REFERENCES public.movimentacoes_financeiras(id) ON DELETE CASCADE;


--
-- Name: ingredientes ingredientes_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: ingredientes ingredientes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: log_pedidos log_pedidos_idpedido_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos
    ADD CONSTRAINT log_pedidos_idpedido_fkey FOREIGN KEY (idpedido) REFERENCES public.pedido(idpedido) ON DELETE CASCADE;


--
-- Name: log_pedidos log_pedidos_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos
    ADD CONSTRAINT log_pedidos_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: mesas mesas_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: mesas mesas_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias_financeiras(id) ON DELETE CASCADE;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_conta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_conta_id_fkey FOREIGN KEY (conta_id) REFERENCES public.contas_financeiras(id) ON DELETE CASCADE;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedido(idpedido) ON DELETE CASCADE;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: parcelas_financeiras parcelas_financeiras_movimentacao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.parcelas_financeiras
    ADD CONSTRAINT parcelas_financeiras_movimentacao_id_fkey FOREIGN KEY (movimentacao_id) REFERENCES public.movimentacoes_financeiras(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE SET NULL;


--
-- Name: pedido pedido_entregador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_entregador_id_fkey FOREIGN KEY (entregador_id) REFERENCES public.entregadores(id) ON DELETE SET NULL;


--
-- Name: pedido pedido_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: pedido_item_ingredientes pedido_item_ingredientes_ingrediente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_item_ingredientes
    ADD CONSTRAINT pedido_item_ingredientes_ingrediente_id_fkey FOREIGN KEY (ingrediente_id) REFERENCES public.ingredientes(id) ON DELETE CASCADE;


--
-- Name: pedido_item_ingredientes pedido_item_ingredientes_pedido_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_item_ingredientes
    ADD CONSTRAINT pedido_item_ingredientes_pedido_item_id_fkey FOREIGN KEY (pedido_item_id) REFERENCES public.pedido_itens(id) ON DELETE CASCADE;


--
-- Name: pedido_itens pedido_itens_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedido(idpedido) ON DELETE CASCADE;


--
-- Name: pedido_itens pedido_itens_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id) ON DELETE CASCADE;


--
-- Name: pedido_itens pedido_itens_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE SET NULL;


--
-- Name: perfil_estabelecimento perfil_estabelecimento_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.perfil_estabelecimento
    ADD CONSTRAINT perfil_estabelecimento_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: perfil_estabelecimento perfil_estabelecimento_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.perfil_estabelecimento
    ADD CONSTRAINT perfil_estabelecimento_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: produto_ingredientes produto_ingredientes_ingrediente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_ingrediente_id_fkey FOREIGN KEY (ingrediente_id) REFERENCES public.ingredientes(id) ON DELETE CASCADE;


--
-- Name: produto_ingredientes produto_ingredientes_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id) ON DELETE CASCADE;


--
-- Name: produtos produtos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias(id) ON DELETE CASCADE;


--
-- Name: produtos produtos_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: produtos produtos_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: usuarios usuarios_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: usuarios usuarios_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: vendas vendas_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT vendas_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: vendas vendas_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.vendas
    ADD CONSTRAINT vendas_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

