--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: divino_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO divino_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: divino_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: divino_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO divino_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: atividade; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.atividade (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    atividade character varying(255) NOT NULL,
    ordem integer NOT NULL,
    condicao integer NOT NULL,
    start timestamp without time zone,
    color character varying(10),
    "end" timestamp without time zone,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.atividade OWNER TO divino_user;

--
-- Name: atividade_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.atividade_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.atividade_id_seq OWNER TO divino_user;

--
-- Name: atividade_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.atividade_id_seq OWNED BY public.atividade.id;


--
-- Name: caixas_entrada; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.caixas_entrada (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    senha character varying(255) NOT NULL,
    servidor character varying(255) NOT NULL,
    porta integer DEFAULT 993 NOT NULL,
    ssl boolean DEFAULT true,
    ativo boolean DEFAULT true,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.caixas_entrada OWNER TO divino_user;

--
-- Name: caixas_entrada_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.caixas_entrada_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.caixas_entrada_id_seq OWNER TO divino_user;

--
-- Name: caixas_entrada_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.caixas_entrada_id_seq OWNED BY public.caixas_entrada.id;


--
-- Name: categorias; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.categorias (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    imagem character varying(255),
    tenant_id integer NOT NULL,
    filial_id integer,
    descricao text,
    parent_id integer
);


ALTER TABLE public.categorias OWNER TO divino_user;

--
-- Name: categorias_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.categorias_financeiras (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(20) NOT NULL,
    descricao text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categorias_financeiras OWNER TO divino_user;

--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.categorias_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorias_financeiras_id_seq OWNER TO divino_user;

--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.categorias_financeiras_id_seq OWNED BY public.categorias_financeiras.id;


--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.categorias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categorias_id_seq OWNER TO divino_user;

--
-- Name: categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.categorias_id_seq OWNED BY public.categorias.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    endereco character varying(255),
    telefone character varying(20),
    email character varying(100),
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.clientes OWNER TO divino_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clientes_id_seq OWNER TO divino_user;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: configuracao; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.configuracao (
    id integer NOT NULL,
    chave character varying(100) NOT NULL,
    valor text,
    descricao text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.configuracao OWNER TO divino_user;

--
-- Name: configuracao_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.configuracao_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.configuracao_id_seq OWNER TO divino_user;

--
-- Name: configuracao_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.configuracao_id_seq OWNED BY public.configuracao.id;


--
-- Name: contas_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.contas_financeiras (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(20) NOT NULL,
    saldo_inicial numeric(10,2) DEFAULT 0.00 NOT NULL,
    saldo_atual numeric(10,2) DEFAULT 0.00 NOT NULL,
    banco character varying(100) DEFAULT NULL::character varying,
    agencia character varying(20) DEFAULT NULL::character varying,
    conta character varying(20) DEFAULT NULL::character varying,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.contas_financeiras OWNER TO divino_user;

--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.contas_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contas_financeiras_id_seq OWNER TO divino_user;

--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.contas_financeiras_id_seq OWNED BY public.contas_financeiras.id;


--
-- Name: entregadores; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.entregadores (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    telefone character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'Ativo'::character varying NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.entregadores OWNER TO divino_user;

--
-- Name: entregadores_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.entregadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entregadores_id_seq OWNER TO divino_user;

--
-- Name: entregadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.entregadores_id_seq OWNED BY public.entregadores.id;


--
-- Name: estoque; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.estoque (
    id integer NOT NULL,
    produto_id integer NOT NULL,
    estoque_atual numeric(10,2) DEFAULT 0.00,
    estoque_minimo numeric(10,2) DEFAULT 0.00,
    preco_custo numeric(10,2) DEFAULT NULL::numeric,
    marca character varying(100) DEFAULT NULL::character varying,
    fornecedor character varying(100) DEFAULT NULL::character varying,
    data_compra date,
    data_validade date,
    unidade character varying(10) DEFAULT NULL::character varying,
    observacoes text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.estoque OWNER TO divino_user;

--
-- Name: estoque_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.estoque_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estoque_id_seq OWNER TO divino_user;

--
-- Name: estoque_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.estoque_id_seq OWNED BY public.estoque.id;


--
-- Name: filiais; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.filiais (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    nome character varying(255) NOT NULL,
    endereco text,
    telefone character varying(20),
    email character varying(255),
    cnpj character varying(18),
    logo_url character varying(500),
    status character varying(20) DEFAULT 'ativo'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.filiais OWNER TO divino_user;

--
-- Name: filiais_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.filiais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.filiais_id_seq OWNER TO divino_user;

--
-- Name: filiais_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.filiais_id_seq OWNED BY public.filiais.id;


--
-- Name: ingredientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.ingredientes (
    id integer NOT NULL,
    nome character varying(50) NOT NULL,
    tipo character varying(20) NOT NULL,
    preco_adicional numeric(10,2) DEFAULT 0.00,
    disponivel boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.ingredientes OWNER TO divino_user;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ingredientes_id_seq OWNER TO divino_user;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.ingredientes_id_seq OWNED BY public.ingredientes.id;


--
-- Name: log_pedidos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.log_pedidos (
    id integer NOT NULL,
    idpedido integer NOT NULL,
    status_anterior character varying(50) DEFAULT NULL::character varying,
    novo_status character varying(50) DEFAULT NULL::character varying,
    usuario character varying(100) DEFAULT NULL::character varying,
    data_alteracao timestamp without time zone NOT NULL
);


ALTER TABLE public.log_pedidos OWNER TO divino_user;

--
-- Name: log_pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.log_pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_pedidos_id_seq OWNER TO divino_user;

--
-- Name: log_pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.log_pedidos_id_seq OWNED BY public.log_pedidos.id;


--
-- Name: mesas; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.mesas (
    id integer NOT NULL,
    id_mesa character varying(10) NOT NULL,
    numero integer,
    nome character varying(255),
    status character varying(20) DEFAULT 'livre'::character varying,
    capacidade integer DEFAULT 4,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.mesas OWNER TO divino_user;

--
-- Name: mesas_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.mesas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mesas_id_seq OWNER TO divino_user;

--
-- Name: mesas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.mesas_id_seq OWNED BY public.mesas.id;


--
-- Name: movimentacoes_financeiras; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.movimentacoes_financeiras (
    id integer NOT NULL,
    pedido_id integer,
    tipo character varying(20) NOT NULL,
    categoria_id integer NOT NULL,
    conta_id integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_movimentacao date NOT NULL,
    data_vencimento date,
    descricao text,
    status character varying(20) DEFAULT 'pendente'::character varying NOT NULL,
    forma_pagamento character varying(20) DEFAULT NULL::character varying,
    comprovante character varying(255) DEFAULT NULL::character varying,
    observacoes text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.movimentacoes_financeiras OWNER TO divino_user;

--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.movimentacoes_financeiras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.movimentacoes_financeiras_id_seq OWNER TO divino_user;

--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.movimentacoes_financeiras_id_seq OWNED BY public.movimentacoes_financeiras.id;


--
-- Name: pedido; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedido (
    idpedido integer NOT NULL,
    idmesa character varying(10) DEFAULT NULL::character varying,
    cliente character varying(255) DEFAULT NULL::character varying,
    delivery boolean DEFAULT false,
    status character varying(50) DEFAULT 'Pendente'::character varying NOT NULL,
    valor_total numeric(10,2) DEFAULT 0.00,
    data date DEFAULT CURRENT_DATE NOT NULL,
    hora_pedido time without time zone DEFAULT CURRENT_TIME NOT NULL,
    observacao text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    usuario_id integer
);


ALTER TABLE public.pedido OWNER TO divino_user;

--
-- Name: pedido_idpedido_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedido_idpedido_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedido_idpedido_seq OWNER TO divino_user;

--
-- Name: pedido_idpedido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedido_idpedido_seq OWNED BY public.pedido.idpedido;


--
-- Name: pedido_itens; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedido_itens (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    produto_id integer NOT NULL,
    quantidade integer DEFAULT 1 NOT NULL,
    valor_unitario numeric(10,2) NOT NULL,
    preco_unitario numeric(10,2) NOT NULL,
    preco_total numeric(10,2) NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    observacao text,
    observacoes text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pedido_itens OWNER TO divino_user;

--
-- Name: pedido_itens_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedido_itens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedido_itens_id_seq OWNER TO divino_user;

--
-- Name: pedido_itens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedido_itens_id_seq OWNED BY public.pedido_itens.id;


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    idpedido integer,
    idmesa character varying(10) DEFAULT NULL::character varying,
    cliente character varying(255) DEFAULT NULL::character varying,
    delivery boolean DEFAULT false,
    status character varying(50) DEFAULT 'Pendente'::character varying NOT NULL,
    valor_total numeric(10,2) DEFAULT 0.00,
    data date DEFAULT CURRENT_DATE NOT NULL,
    hora_pedido time without time zone DEFAULT CURRENT_TIME NOT NULL,
    observacao text,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pedidos OWNER TO divino_user;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pedidos_id_seq OWNER TO divino_user;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: planos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.planos (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    max_mesas integer DEFAULT 10,
    max_usuarios integer DEFAULT 3,
    max_produtos integer DEFAULT 100,
    max_pedidos_mes integer DEFAULT 1000,
    recursos jsonb,
    preco_mensal numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.planos OWNER TO divino_user;

--
-- Name: planos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.planos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.planos_id_seq OWNER TO divino_user;

--
-- Name: planos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.planos_id_seq OWNED BY public.planos.id;


--
-- Name: produto_ingredientes; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.produto_ingredientes (
    id integer NOT NULL,
    produto_id integer NOT NULL,
    ingrediente_id integer NOT NULL,
    obrigatorio boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.produto_ingredientes OWNER TO divino_user;

--
-- Name: produto_ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.produto_ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.produto_ingredientes_id_seq OWNER TO divino_user;

--
-- Name: produto_ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.produto_ingredientes_id_seq OWNED BY public.produto_ingredientes.id;


--
-- Name: produtos; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.produtos (
    id integer NOT NULL,
    codigo character varying(255),
    categoria_id integer NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    preco_normal numeric(10,2) NOT NULL,
    preco_mini numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    imagem character varying(255),
    tenant_id integer NOT NULL,
    filial_id integer
);


ALTER TABLE public.produtos OWNER TO divino_user;

--
-- Name: produtos_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.produtos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.produtos_id_seq OWNER TO divino_user;

--
-- Name: produtos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.produtos_id_seq OWNED BY public.produtos.id;


--
-- Name: relatorios; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.relatorios (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    tipo character varying(50) NOT NULL,
    parametros json,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.relatorios OWNER TO divino_user;

--
-- Name: relatorios_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.relatorios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.relatorios_id_seq OWNER TO divino_user;

--
-- Name: relatorios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.relatorios_id_seq OWNED BY public.relatorios.id;


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    subdomain character varying(100),
    domain character varying(255),
    cnpj character varying(18),
    telefone character varying(20),
    email character varying(255),
    endereco text,
    logo_url character varying(500),
    cor_primaria character varying(7) DEFAULT '#007bff'::character varying,
    status character varying(20) DEFAULT 'ativo'::character varying,
    plano_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tenants OWNER TO divino_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenants_id_seq OWNER TO divino_user;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    login character varying(255) NOT NULL,
    senha character varying(255) NOT NULL,
    nivel integer DEFAULT 1 NOT NULL,
    pergunta character varying(255) NOT NULL,
    resposta character varying(255) NOT NULL,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.usuarios OWNER TO divino_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO divino_user;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: whatsapp_instances; Type: TABLE; Schema: public; Owner: divino_user
--

CREATE TABLE public.whatsapp_instances (
    id integer NOT NULL,
    instance_name character varying(100) NOT NULL,
    phone_number character varying(20) DEFAULT NULL::character varying,
    qr_code text,
    status character varying(20) DEFAULT 'disconnected'::character varying,
    ativo boolean DEFAULT true,
    tenant_id integer NOT NULL,
    filial_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.whatsapp_instances OWNER TO divino_user;

--
-- Name: whatsapp_instances_id_seq; Type: SEQUENCE; Schema: public; Owner: divino_user
--

CREATE SEQUENCE public.whatsapp_instances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.whatsapp_instances_id_seq OWNER TO divino_user;

--
-- Name: whatsapp_instances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: divino_user
--

ALTER SEQUENCE public.whatsapp_instances_id_seq OWNED BY public.whatsapp_instances.id;


--
-- Name: atividade id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade ALTER COLUMN id SET DEFAULT nextval('public.atividade_id_seq'::regclass);


--
-- Name: caixas_entrada id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.caixas_entrada ALTER COLUMN id SET DEFAULT nextval('public.caixas_entrada_id_seq'::regclass);


--
-- Name: categorias id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias ALTER COLUMN id SET DEFAULT nextval('public.categorias_id_seq'::regclass);


--
-- Name: categorias_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras ALTER COLUMN id SET DEFAULT nextval('public.categorias_financeiras_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: configuracao id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.configuracao ALTER COLUMN id SET DEFAULT nextval('public.configuracao_id_seq'::regclass);


--
-- Name: contas_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras ALTER COLUMN id SET DEFAULT nextval('public.contas_financeiras_id_seq'::regclass);


--
-- Name: entregadores id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores ALTER COLUMN id SET DEFAULT nextval('public.entregadores_id_seq'::regclass);


--
-- Name: estoque id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque ALTER COLUMN id SET DEFAULT nextval('public.estoque_id_seq'::regclass);


--
-- Name: filiais id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais ALTER COLUMN id SET DEFAULT nextval('public.filiais_id_seq'::regclass);


--
-- Name: ingredientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes ALTER COLUMN id SET DEFAULT nextval('public.ingredientes_id_seq'::regclass);


--
-- Name: log_pedidos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos ALTER COLUMN id SET DEFAULT nextval('public.log_pedidos_id_seq'::regclass);


--
-- Name: mesas id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas ALTER COLUMN id SET DEFAULT nextval('public.mesas_id_seq'::regclass);


--
-- Name: movimentacoes_financeiras id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras ALTER COLUMN id SET DEFAULT nextval('public.movimentacoes_financeiras_id_seq'::regclass);


--
-- Name: pedido idpedido; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido ALTER COLUMN idpedido SET DEFAULT nextval('public.pedido_idpedido_seq'::regclass);


--
-- Name: pedido_itens id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens ALTER COLUMN id SET DEFAULT nextval('public.pedido_itens_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: planos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.planos ALTER COLUMN id SET DEFAULT nextval('public.planos_id_seq'::regclass);


--
-- Name: produto_ingredientes id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes ALTER COLUMN id SET DEFAULT nextval('public.produto_ingredientes_id_seq'::regclass);


--
-- Name: produtos id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos ALTER COLUMN id SET DEFAULT nextval('public.produtos_id_seq'::regclass);


--
-- Name: relatorios id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.relatorios ALTER COLUMN id SET DEFAULT nextval('public.relatorios_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: whatsapp_instances id; Type: DEFAULT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.whatsapp_instances ALTER COLUMN id SET DEFAULT nextval('public.whatsapp_instances_id_seq'::regclass);


--
-- Data for Name: atividade; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.atividade (id, title, atividade, ordem, condicao, start, color, "end", tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: caixas_entrada; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.caixas_entrada (id, nome, email, senha, servidor, porta, ssl, ativo, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: categorias; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.categorias (id, nome, created_at, imagem, tenant_id, filial_id, descricao, parent_id) FROM stdin;
1	Lanches	2025-10-03 19:47:33.61753	\N	1	1	Categoria de Lanches	\N
2	Bebidas	2025-10-03 19:47:33.61753	\N	1	1	Categoria de Bebidas	\N
3	Sobremesas	2025-10-03 19:47:33.61753	\N	1	1	Categoria de Sobremesas	\N
\.


--
-- Data for Name: categorias_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.categorias_financeiras (id, nome, tipo, descricao, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.clientes (id, nome, endereco, telefone, email, tenant_id, filial_id, created_at) FROM stdin;
\.


--
-- Data for Name: configuracao; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.configuracao (id, chave, valor, descricao, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: contas_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.contas_financeiras (id, nome, tipo, saldo_inicial, saldo_atual, banco, agencia, conta, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: entregadores; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.entregadores (id, nome, telefone, status, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: estoque; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.estoque (id, produto_id, estoque_atual, estoque_minimo, preco_custo, marca, fornecedor, data_compra, data_validade, unidade, observacoes, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: filiais; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.filiais (id, tenant_id, nome, endereco, telefone, email, cnpj, logo_url, status, created_at) FROM stdin;
1	1	Filial Principal	\N	\N	\N	\N	\N	ativo	2025-10-03 19:47:33.610146
\.


--
-- Data for Name: ingredientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.ingredientes (id, nome, tipo, preco_adicional, disponivel, created_at, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: log_pedidos; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.log_pedidos (id, idpedido, status_anterior, novo_status, usuario, data_alteracao) FROM stdin;
\.


--
-- Data for Name: mesas; Type: TABLE DATA; Schema: public; Owner: divino_user
--



--
-- Data for Name: movimentacoes_financeiras; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.movimentacoes_financeiras (id, pedido_id, tipo, categoria_id, conta_id, valor, data_movimentacao, data_vencimento, descricao, status, forma_pagamento, comprovante, observacoes, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedido (idpedido, idmesa, cliente, delivery, status, valor_total, data, hora_pedido, observacao, tenant_id, filial_id, created_at, usuario_id) FROM stdin;
1	1	Cliente Teste	f	Pendente	25.00	2025-10-03	19:47:33.628833	\N	1	1	2025-10-03 19:47:33.628833	1
\.


--
-- Data for Name: pedido_itens; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedido_itens (id, pedido_id, produto_id, quantidade, valor_unitario, preco_unitario, preco_total, valor_total, observacao, observacoes, tenant_id, filial_id, created_at) FROM stdin;
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.pedidos (id, idpedido, idmesa, cliente, delivery, status, valor_total, data, hora_pedido, observacao, tenant_id, filial_id, created_at) FROM stdin;
1	\N	1	Cliente Teste	f	Pendente	25.00	2025-10-03	19:47:33.631863	\N	1	1	2025-10-03 19:47:33.631863
\.


--
-- Data for Name: planos; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.planos (id, nome, max_mesas, max_usuarios, max_produtos, max_pedidos_mes, recursos, preco_mensal, created_at) FROM stdin;
1	Starter	5	2	50	500	\N	29.90	2025-10-03 19:47:33.60229
2	Professional	15	5	200	2000	\N	79.90	2025-10-03 19:47:33.60229
3	Enterprise	-1	-1	-1	-1	\N	199.90	2025-10-03 19:47:33.60229
\.


--
-- Data for Name: produto_ingredientes; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.produto_ingredientes (id, produto_id, ingrediente_id, obrigatorio, created_at) FROM stdin;
\.


--
-- Data for Name: produtos; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.produtos (id, codigo, categoria_id, nome, descricao, preco_normal, preco_mini, created_at, imagem, tenant_id, filial_id) FROM stdin;
\.


--
-- Data for Name: relatorios; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.relatorios (id, nome, tipo, parametros, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.tenants (id, nome, subdomain, domain, cnpj, telefone, email, endereco, logo_url, cor_primaria, status, plano_id, created_at, updated_at) FROM stdin;
1	Divino Lanches	\N	\N	\N	\N	\N	\N	\N	#3f158e	ativo	2	2025-10-03 19:47:33.606646	2025-10-03 19:47:33.606646
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.usuarios (id, login, senha, nivel, pergunta, resposta, tenant_id, filial_id, created_at) FROM stdin;
1	admin	$2y$10$uR0mp9s8gbii7CkB11YUFeiblzYr0r9EyLFungmMtIot3WkkmuKY6	1	admin	admin	1	1	2025-10-03 19:47:33.614001
\.


--
-- Data for Name: whatsapp_instances; Type: TABLE DATA; Schema: public; Owner: divino_user
--

COPY public.whatsapp_instances (id, instance_name, phone_number, qr_code, status, ativo, tenant_id, filial_id, created_at, updated_at) FROM stdin;
\.


--
-- Name: atividade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.atividade_id_seq', 1, false);


--
-- Name: caixas_entrada_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.caixas_entrada_id_seq', 1, false);


--
-- Name: categorias_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.categorias_financeiras_id_seq', 1, false);


--
-- Name: categorias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.categorias_id_seq', 3, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.clientes_id_seq', 1, false);


--
-- Name: configuracao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.configuracao_id_seq', 1, false);


--
-- Name: contas_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.contas_financeiras_id_seq', 1, false);


--
-- Name: entregadores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.entregadores_id_seq', 1, false);


--
-- Name: estoque_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.estoque_id_seq', 1, false);


--
-- Name: filiais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.filiais_id_seq', 1, true);


--
-- Name: ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.ingredientes_id_seq', 1, false);


--
-- Name: log_pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.log_pedidos_id_seq', 1, false);


--
-- Name: mesas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.mesas_id_seq', 15, true);


--
-- Name: movimentacoes_financeiras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.movimentacoes_financeiras_id_seq', 1, false);


--
-- Name: pedido_idpedido_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedido_idpedido_seq', 1, true);


--
-- Name: pedido_itens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedido_itens_id_seq', 1, false);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 1, true);


--
-- Name: planos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.planos_id_seq', 3, true);


--
-- Name: produto_ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.produto_ingredientes_id_seq', 1, false);


--
-- Name: produtos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.produtos_id_seq', 1, false);


--
-- Name: relatorios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.relatorios_id_seq', 1, false);


--
-- Name: tenants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.tenants_id_seq', 1, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: whatsapp_instances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: divino_user
--

SELECT pg_catalog.setval('public.whatsapp_instances_id_seq', 1, false);


--
-- Name: atividade atividade_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_pkey PRIMARY KEY (id);


--
-- Name: caixas_entrada caixas_entrada_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.caixas_entrada
    ADD CONSTRAINT caixas_entrada_pkey PRIMARY KEY (id);


--
-- Name: categorias_financeiras categorias_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_pkey PRIMARY KEY (id);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: configuracao configuracao_chave_key; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.configuracao
    ADD CONSTRAINT configuracao_chave_key UNIQUE (chave);


--
-- Name: configuracao configuracao_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.configuracao
    ADD CONSTRAINT configuracao_pkey PRIMARY KEY (id);


--
-- Name: contas_financeiras contas_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_pkey PRIMARY KEY (id);


--
-- Name: entregadores entregadores_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_pkey PRIMARY KEY (id);


--
-- Name: estoque estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_pkey PRIMARY KEY (id);


--
-- Name: filiais filiais_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais
    ADD CONSTRAINT filiais_pkey PRIMARY KEY (id);


--
-- Name: ingredientes ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_pkey PRIMARY KEY (id);


--
-- Name: log_pedidos log_pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos
    ADD CONSTRAINT log_pedidos_pkey PRIMARY KEY (id);


--
-- Name: mesas mesas_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_pkey PRIMARY KEY (id);


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_pkey PRIMARY KEY (id);


--
-- Name: pedido_itens pedido_itens_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_pkey PRIMARY KEY (id);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (idpedido);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: planos planos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.planos
    ADD CONSTRAINT planos_pkey PRIMARY KEY (id);


--
-- Name: produto_ingredientes produto_ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_pkey PRIMARY KEY (id);


--
-- Name: produtos produtos_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_pkey PRIMARY KEY (id);


--
-- Name: relatorios relatorios_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.relatorios
    ADD CONSTRAINT relatorios_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_instances whatsapp_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_pkey PRIMARY KEY (id);


--
-- Name: atividade atividade_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: atividade atividade_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.atividade
    ADD CONSTRAINT atividade_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: caixas_entrada caixas_entrada_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.caixas_entrada
    ADD CONSTRAINT caixas_entrada_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: caixas_entrada caixas_entrada_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.caixas_entrada
    ADD CONSTRAINT caixas_entrada_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: categorias categorias_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: categorias_financeiras categorias_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: categorias_financeiras categorias_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias_financeiras
    ADD CONSTRAINT categorias_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: categorias categorias_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categorias(id);


--
-- Name: categorias categorias_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: clientes clientes_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: clientes clientes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: configuracao configuracao_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.configuracao
    ADD CONSTRAINT configuracao_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: configuracao configuracao_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.configuracao
    ADD CONSTRAINT configuracao_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: contas_financeiras contas_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: contas_financeiras contas_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.contas_financeiras
    ADD CONSTRAINT contas_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: entregadores entregadores_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: entregadores entregadores_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.entregadores
    ADD CONSTRAINT entregadores_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: estoque estoque_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: estoque estoque_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id) ON DELETE CASCADE;


--
-- Name: estoque estoque_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.estoque
    ADD CONSTRAINT estoque_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: filiais filiais_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.filiais
    ADD CONSTRAINT filiais_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: ingredientes ingredientes_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: ingredientes ingredientes_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: log_pedidos log_pedidos_idpedido_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.log_pedidos
    ADD CONSTRAINT log_pedidos_idpedido_fkey FOREIGN KEY (idpedido) REFERENCES public.pedido(idpedido);


--
-- Name: mesas mesas_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: mesas mesas_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT mesas_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedido(idpedido);


--
-- Name: movimentacoes_financeiras movimentacoes_financeiras_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.movimentacoes_financeiras
    ADD CONSTRAINT movimentacoes_financeiras_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: pedido_itens pedido_itens_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: pedido_itens pedido_itens_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedido(idpedido) ON DELETE CASCADE;


--
-- Name: pedido_itens pedido_itens_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido_itens
    ADD CONSTRAINT pedido_itens_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: pedido pedido_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: pedidos pedidos_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: pedidos pedidos_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: produto_ingredientes produto_ingredientes_ingrediente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_ingrediente_id_fkey FOREIGN KEY (ingrediente_id) REFERENCES public.ingredientes(id) ON DELETE CASCADE;


--
-- Name: produto_ingredientes produto_ingredientes_produto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produto_ingredientes
    ADD CONSTRAINT produto_ingredientes_produto_id_fkey FOREIGN KEY (produto_id) REFERENCES public.produtos(id) ON DELETE CASCADE;


--
-- Name: produtos produtos_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias(id) ON DELETE CASCADE;


--
-- Name: produtos produtos_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: produtos produtos_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT produtos_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: relatorios relatorios_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.relatorios
    ADD CONSTRAINT relatorios_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: relatorios relatorios_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.relatorios
    ADD CONSTRAINT relatorios_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: usuarios usuarios_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: usuarios usuarios_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: whatsapp_instances whatsapp_instances_filial_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_filial_id_fkey FOREIGN KEY (filial_id) REFERENCES public.filiais(id) ON DELETE SET NULL;


--
-- Name: whatsapp_instances whatsapp_instances_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: divino_user
--

ALTER TABLE ONLY public.whatsapp_instances
    ADD CONSTRAINT whatsapp_instances_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: divino_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

